@model  List<GEM.Models.mission>

@if (Model != null && Model.Count > 0)
{
    foreach (var mission in Model)
    {
        <div class="col-lg-6 practice-details">

            <div class="col-lg-12 mission-practices">

                <div class="col-lg-12 missionhead">
                    <h3> Launch Team <span>[ Fluency Level 1 ]</span> </h3>
                </div>

                @foreach (var practice in mission.mission_practice)
                {
                    <div class="col-lg-2 practiceblock">
                        <span class="img-block">
                            <img src='@string.Concat("../images/practice", practice.practice.PracticeId, ".png")' alt="calendar">
                            <h4> @practice.practice.Name </h4>
                        </span>
                    </div>
                }
            </div>
        </div>

        <div class="col-lg-12 proceed-practice">

            <span class="col-lg-9 clsstartenddate">
                <div class="col-lg-6">
                    <p> <img src="../images/calander.png"> Start Date: <span> @mission.StartDate.ToShortDateString() </span></p>
                </div>
                <div class="col-lg-6">
                    <p> <img src="../images/calander.png"> End Date & Time: <span> @mission.EndDate.ToString() </span></p>
                </div>
            </span>
            <span class="col-lg-3">
                <input formaction="" name="practice-proceed" onclick="window.location.href = '../Team/Measures?journeyId=@mission.TeamJourneyId';" class="proceedcls" type="submit" value="Proceed Practice">
            </span>
        </div>
    }
}
