
@model  List<Gem.BusinessEntities.team_journey_member>

<ul class="team-member-list">
    @if (Model.Count > 0)
    {
        int leaderId = 0;
        foreach (var member in Model)
        {
            if (member.TeamJourneyMemberRoleId == 1)
            {
                leaderId = member.MemberId.Value;
                <li> <img src="../images/man(1).png" width="36" height="36"> @member.member.EmailAddress <span> <p> Leader </p> @*<a href=""><img src="../images/remove.png" width="16" height="16"> </a>*@</span> </li>
            }
            else
            {
                <li>
                    <img src="../images/man(1).png" width="36" height="36"> @member.member.EmailAddress <span>
                        @if (Session["LoginMemberID"].ToString() == leaderId.ToString())
                        {
                            <p> <a href="#">Make Leader</a> </p> <a href="../Journey/RemoveMember?tjmemberid=@member.TeamJourneyMemberId"><img src="../images/remove.png" width="16" height="16"> </a>
                        }
                        else if (Session["LoginMemberID"].ToString() == member.MemberId.Value.ToString())
                        {
                            <p> Member </p>
                        }
                        else
                        {
                            <p> Member </p>
                        }
                    </span>
                </li>
            }
        }
    }
</ul>